body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: orange;
}

.quem-somos {
    background-color: rgb(34, 54, 167);
    color: orange;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}